/*
Theme Name: DCPBK Twenty Twenty-Four
Theme URI: 
Author: Matthew W. Thomas
Author URI: https://matthewthom.as
Description: Child theme of Twenty Twenty-Four
Requires at least: 6.0
Tested up to: 6.5.2
Requires PHP: 5.7
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: twentytwentyfour
Text Domain: dcpbk-twenty-twenty-four
Tags: blog, news, portfolio, one-column, wide-blocks, accessibility-ready, block-patterns, block-styles, custom-colors, custom-logo, custom-menu, editor-style, featured-images, full-site-editing, rtl-language-support, sticky-post, style-variations, threaded-comments, translation-ready, 
*/

